app-admin/chrpath
app-admin/emacs-updater
app-admin/go-updater
app-admin/haskell-updater
app-admin/helm
app-admin/logrotate
app-admin/mcelog
app-admin/ps_mem
app-admin/restart-services
app-admin/sshguard
app-admin/sudo
app-admin/superadduser
app-admin/sysstat
app-admin/tmpwatch
app-admin/usbview
app-admin/webapp-config
app-arch/brotli
app-arch/duff
app-arch/lha
app-arch/lzma
app-arch/lzop
app-arch/pbzip2
app-arch/pigz
app-arch/pixz
app-arch/rpm
app-backup/rsnapshot
app-benchmarks/iozone
app-benchmarks/nbench
app-benchmarks/ramspeed
app-benchmarks/sysbench
app-crypt/efitools
app-editors/bvi
app-editors/hexedit
app-editors/nano
app-editors/scite
app-editors/vim
app-emacs/csv-mode
app-emacs/ess
app-emacs/python-mode
app-emulation/docker
app-emulation/docker-compose
app-eselect/eselect-oodict
app-eselect/eselect-repository
app-eselect/eselect-xvmc
app-misc/colordiff
app-misc/detox
app-misc/fdupes
app-misc/jq
app-misc/screen
app-misc/symlinks
app-office/gnumeric
app-office/libreoffice
app-portage/cpuid2cpuflags
app-portage/eix
app-portage/euses
app-portage/gemato
app-portage/genlop
app-portage/gentoolkit
app-portage/mirrorselect
app-portage/portage-utils
app-portage/repo-commit
app-portage/repoman
app-portage/smart-live-rebuild
app-portage/ufed
app-shells/bash-completion
app-shells/gentoo-bashcomp
app-shells/pdsh
app-text/apvlv
app-text/asciidoc
app-text/docx2txt
app-text/dos2unix
app-text/epstool
app-text/fbreader
app-text/flpsed
app-text/groonga
app-text/highlight
app-text/html2text
app-text/hunspell
app-text/mathtex
app-text/mpage
app-text/multitail
app-text/odt2txt
app-text/pandoc
app-text/pdfgrep
app-text/pdfjam
app-text/pdftk
app-text/pspdftool
app-text/pstotext
app-text/qpdf
app-text/recode
app-text/texlive
app-text/unrtf
app-text/xmlstarlet
app-text/zathura
app-vim/autoalign
app-vim/csv
app-vim/vim-spell-en
dev-db/postgresql
dev-db/redis
dev-java/ant
dev-java/eclipse-ecj
dev-java/gradle-bin
dev-java/maven-bin
dev-java/openjdk
dev-java/openjdk:8
dev-lang/dmd
dev-lang/erlang
dev-lang/ldc2
dev-lang/nasm
dev-lang/nim
dev-lang/rust
dev-lang/spidermonkey
dev-lang/yasm
dev-perl/Bio-Das
dev-python/DendroPy
dev-python/autopep8
dev-python/bcbio-gff
dev-python/beautifulsoup
dev-python/bitarray
dev-python/black
dev-python/blosc
dev-python/bokeh
dev-python/click
dev-python/click-plugins
dev-python/coverage
dev-python/cython
dev-python/dask
dev-python/distributed
dev-python/dnaio
dev-python/flask
dev-python/graph-tool
dev-python/jupyter
dev-python/kPAL
dev-python/lastversion
dev-python/line_profiler
dev-python/lockfile
dev-python/loguru
dev-python/memory_profiler
dev-python/mkdocs
dev-python/mypy
dev-python/networkx
dev-python/nuitka
dev-python/numba
dev-python/pip
dev-python/pip-tools
dev-python/pipenv
dev-python/pipx
dev-python/poetry-dynamic-versioning
dev-python/pydocstyle
dev-python/pygraphviz
dev-python/pylint
dev-python/pypy3
dev-python/pypy3-exe-bin
dev-python/pytables
dev-python/pytest
dev-python/rpy
dev-python/seaborn
dev-python/setproctitle
dev-python/setuptools
dev-python/setuptools_scm
dev-python/sh
dev-python/statsmodels
dev-python/tox
dev-python/virtualenv
dev-python/virtualenvwrapper
dev-python/wheel
dev-python/zconfig
dev-tex/biblatex
dev-tex/latexmk
dev-tex/style-check
dev-util/Orange
dev-util/biew
dev-util/checkstyle
dev-util/cppunit
dev-util/ctags
dev-util/ddd
dev-util/dejagnu
dev-util/ftjam
dev-util/global
dev-util/google-perftools
dev-util/indent
dev-util/meld
dev-util/memprof
dev-util/meson
dev-util/numdiff
dev-util/patchelf
dev-util/patchutils
dev-util/pycharm-professional
dev-util/scons
dev-util/tsv-utils
dev-util/unifdef
dev-util/valgrind
dev-util/vbindiff
dev-util/yacc
dev-vcs/git
dev-vcs/git-lfs
dev-vcs/hub
dev-vcs/mercurial
kde-apps/kcachegrind
kde-apps/kde-apps-meta
kde-apps/kmag
kde-plasma/plasma-meta
mail-client/mutt
media-fonts/jetbrains-mono
media-fonts/liberation-fonts
media-gfx/apng2gif
media-gfx/apngasm
media-gfx/apngdis
media-gfx/apngopt
media-gfx/argyllcms
media-gfx/crwinfo
media-gfx/darktable
media-gfx/exif
media-gfx/feh
media-gfx/freepv
media-gfx/freewrl
media-gfx/gif2apng
media-gfx/gif2png
media-gfx/gmic
media-gfx/gphoto2
media-gfx/graphviz
media-gfx/icoutils
media-gfx/imagemagick
media-gfx/imageworsener
media-gfx/inkscape
media-gfx/jpeg2ps
media-gfx/jpeginfo
media-gfx/jpegoptim
media-gfx/monica
media-gfx/openclipart
media-gfx/optipng
media-gfx/pdf2svg
media-gfx/pngtoico
media-gfx/pngtools
media-gfx/potrace
media-gfx/pqiv
media-gfx/springgraph
media-gfx/sxiv
media-gfx/termtosvg
media-gfx/ufraw
media-gfx/xv
media-libs/exiftool
media-sound/alsa-tools
media-sound/alsa-utils
media-sound/timidity++
media-video/atomicparsley
media-video/clive
media-video/gpac
media-video/lsdvd
media-video/vobcopy
media-video/xine-ui
media-video/xvattr
net-analyzer/bmon
net-analyzer/iftop
net-analyzer/iptraf-ng
net-analyzer/lft
net-analyzer/mtr
net-analyzer/netdata
net-analyzer/nethogs
net-analyzer/traceroute
net-dns/bind-tools
net-dns/ddclient
net-dns/dnscrypt-proxy
net-dns/openresolv
net-fs/autofs
net-fs/curlftpfs
net-fs/davfs2
net-fs/nfs-utils
net-ftp/filezilla
net-ftp/ftp
net-ftp/ncftp
net-im/discord-bin
net-im/skypeforlinux
net-im/slack
net-libs/nodejs
net-mail/ripmime
net-misc/aria2
net-misc/autossh
net-misc/axel
net-misc/bridge-utils
net-misc/chrony
net-misc/clusterssh
net-misc/dhcp
net-misc/dropbox
net-misc/iperf
net-misc/keychain
net-misc/memcached
net-misc/netkit-telnetd
net-misc/proxytunnel
net-misc/snarf
net-misc/socat
net-misc/tigervnc
net-misc/youtube-dl
net-misc/zsync
net-p2p/ktorrent
net-print/cups-pdf
net-print/epson-inkjet-printer-escpr
net-print/gutenprint
net-vpn/tor
net-vpn/wireguard-tools
sci-CRAN/ape
sci-CRAN/ggplot2
sci-CRAN/shiny
sci-astronomy/stellarium
sci-biology/ApE
sci-biology/BAli-Phy
sci-biology/BlastToSam
sci-biology/CAT
sci-biology/Fastaq
sci-biology/GBrowse
sci-biology/HTSeq
sci-biology/KaKs_Calculator
sci-biology/MMseqs2
sci-biology/ParaAT
sci-biology/RADtools
sci-biology/RAILS
sci-biology/RapMap
sci-biology/SSAKE
sci-biology/STAR
sci-biology/Sibelia
sci-biology/SolexaQA
sci-biology/VarScan-bin
sci-biology/YASRA
sci-biology/aaindex
sci-biology/abacas
sci-biology/abyss
sci-biology/align_to_scf
sci-biology/amap
sci-biology/andi
sci-biology/assembly-stats
sci-biology/augustus
sci-biology/bam-readcount
sci-biology/bambus
sci-biology/bcftools
sci-biology/bedops
sci-biology/bedtools
sci-biology/bfast
sci-biology/bioawk
sci-biology/biobambam2
sci-biology/biogrep
sci-biology/bioperl-network
sci-biology/biopython
sci-biology/biosql
sci-biology/bowtie
sci-biology/brat_nova
sci-biology/bwa
sci-biology/bwa-mem2
sci-biology/cast-bin
sci-biology/cd-hit
sci-biology/cdbfasta
sci-biology/ce
sci-biology/clustal-omega
sci-biology/clustalx
sci-biology/codonw
sci-biology/conifer
sci-biology/coral
sci-biology/cramtools
sci-biology/cutadapt
sci-biology/cutg
sci-biology/dagchainer
sci-biology/deeptools
sci-biology/dialign2
sci-biology/diamond
sci-biology/discrover
sci-biology/diya
sci-biology/dna2pep
sci-biology/elph
sci-biology/epga
sci-biology/erpin
sci-biology/eugene
sci-biology/exonerate
sci-biology/fasta
sci-biology/fastme
sci-biology/fasttree
sci-biology/forester
sci-biology/genepop
sci-biology/genometools
sci-biology/gffcompare
sci-biology/gffpandas
sci-biology/gffread
sci-biology/gffutils
sci-biology/gibbs
sci-biology/glimmer
sci-biology/glimmerhmm
sci-biology/gmap
sci-biology/grabix
sci-biology/hexamer
sci-biology/hmmer
sci-biology/idba
sci-biology/iedera
sci-biology/infernal
sci-biology/iqpnni
sci-biology/iqtree
sci-biology/jellyfish
sci-biology/kalign
sci-biology/kallisto
sci-biology/karect
sci-biology/kat
sci-biology/khmer
sci-biology/kraken
sci-biology/lagan
sci-biology/last
sci-biology/mafft
sci-biology/maq
sci-biology/maqview
sci-biology/mavid
sci-biology/mcl
sci-biology/megahit
sci-biology/meme
sci-biology/minced
sci-biology/minimap2
sci-biology/miranda
sci-biology/mothur
sci-biology/mrbayes
sci-biology/mrfast
sci-biology/msautil
sci-biology/ncbi-blast+
sci-biology/newick-utils
sci-biology/nrcl
sci-biology/ntCard
sci-biology/oases
sci-biology/paHMM-Tree
sci-biology/paml
sci-biology/pbcopper
sci-biology/phylip
sci-biology/phyml
sci-biology/picard
sci-biology/piler
sci-biology/pilercr
sci-biology/pilon-bin
sci-biology/plink
sci-biology/poa
sci-biology/portrait
sci-biology/pplacer-bin
sci-biology/prank
sci-biology/price
sci-biology/prints
sci-biology/probcons
sci-biology/prodigal
sci-biology/profphd
sci-biology/prosite
sci-biology/psipred
sci-biology/psx
sci-biology/pybedtools
sci-biology/qrna
sci-biology/quick-join
sci-biology/quicktree
sci-biology/quorum
sci-biology/raxml
sci-biology/raxml-ng
sci-biology/reaper
sci-biology/rebase
sci-biology/recon
sci-biology/rnaview
sci-biology/rtg-tools
sci-biology/sabre
sci-biology/samstat
sci-biology/samtools
sci-biology/sap
sci-biology/scan_for_matches
sci-biology/sclust
sci-biology/screed
sci-biology/scythe
sci-biology/seaview
sci-biology/seqan
sci-biology/seqmagick
sci-biology/seqtk
sci-biology/seqtools
sci-biology/sequedex-bin
sci-biology/sff_dump
sci-biology/sibsim4
sci-biology/sickle
sci-biology/snap
sci-biology/snp-mutator
sci-biology/split-dist
sci-biology/stride
sci-biology/t-coffee
sci-biology/taxtastic
sci-biology/tree-puzzle
sci-biology/treeviewx
sci-biology/trimmomatic
sci-biology/trnascan-se
sci-biology/ugene
sci-biology/unafold
sci-biology/usearch-bin
sci-biology/vcftools
sci-biology/velvet
sci-biology/weblogo
sci-biology/wise
sci-biology/yass
sci-biology/zmsort
sci-calculators/datamash
sci-calculators/galculator
sci-calculators/hcalc
sci-calculators/qalculate-gtk
sci-calculators/speedcrunch
sci-chemistry/autodock
sci-chemistry/bodr
sci-chemistry/chemical-mime-data
sci-chemistry/chemtool
sci-chemistry/clashlist
sci-chemistry/drawxtl
sci-chemistry/easychem
sci-chemistry/gperiodic
sci-chemistry/ksdssp
sci-chemistry/mage
sci-chemistry/mm-align
sci-chemistry/moldy
sci-chemistry/molmol
sci-chemistry/molscript
sci-chemistry/mopac7
sci-chemistry/mustang
sci-chemistry/pdbcat
sci-chemistry/pdbcns
sci-chemistry/probe
sci-chemistry/procheck
sci-chemistry/raster3d
sci-chemistry/ssp
sci-chemistry/suitename
sci-chemistry/surf
sci-chemistry/tinker
sci-electronics/electric
sci-libs/alglib
sci-libs/bliss
sci-libs/clashscore-db
sci-libs/clblas
sci-libs/clfft
sci-libs/ipp
sci-libs/libexcelformat
sci-libs/minuit
sci-libs/nfft
sci-libs/openblas
sci-libs/pycifrw
sci-libs/scotch
sci-libs/szip
sci-libs/udunits
sci-mathematics/rkward
sci-mathematics/rstudio
sci-misc/gephi
sci-visualization/gnuplot
sys-apps/ack
sys-apps/dmidecode
sys-apps/ethtool
sys-apps/fakeroot
sys-apps/gptfdisk
sys-apps/hdparm
sys-apps/help2man
sys-apps/hwloc
sys-apps/irqbalance
sys-apps/iucode_tool
sys-apps/kexec-tools
sys-apps/less
sys-apps/lm-sensors
sys-apps/mawk
sys-apps/memtest86+
sys-apps/miller
sys-apps/mlocate
sys-apps/moreutils
sys-apps/most
sys-apps/netplug
sys-apps/pmount
sys-apps/portage
sys-apps/pv
sys-apps/rng-tools
sys-apps/sdparm
sys-apps/smartmontools
sys-auth/nss_ldap
sys-auth/pam_abl
sys-block/di
sys-block/gparted
sys-block/mpt-status
sys-block/parted
sys-boot/efibootmgr
sys-boot/grub
sys-boot/os-prober
sys-boot/unetbootin
sys-cluster/minikube
sys-cluster/spark-bin
sys-devel/clang
sys-devel/gcc
sys-devel/gcc:9.3.0
sys-firmware/intel-microcode
sys-fs/avfs
sys-fs/cachefilesd
sys-fs/ddrescue
sys-fs/dmg2img
sys-fs/dosfstools
sys-fs/f2fs-tools
sys-fs/inotify-tools
sys-fs/lessfs
sys-fs/lvm2
sys-fs/mdadm
sys-fs/mtools
sys-fs/ntfs3g
sys-fs/unionfs-fuse
sys-fs/xfsprogs
sys-kernel/gentoo-kernel
sys-process/cronie
sys-process/glances
sys-process/htop
sys-process/iotop
sys-process/latencytop
sys-process/lsof
sys-process/memwatch
sys-process/parallel
sys-process/prll
sys-process/schedtool
sys-process/time
sys-process/xjobs
virtual/rust
www-apache/mod_wsgi
www-client/firefox-bin
www-client/google-chrome-unstable
www-servers/gunicorn
www-servers/nginx
x11-apps/x11perf
x11-apps/xmag
x11-apps/xvidtune
x11-apps/xvinfo
x11-base/xorg-x11
x11-misc/gcolor2
x11-misc/xlockmore
x11-wm/twm
